interactions:
- request:
    body: '{"location": "eastus", "properties": {"publicNetworkAccessForIngestion":
      "Enabled", "publicNetworkAccessForQuery": "Enabled", "retentionInDays": 30,
      "sku": {"name": "PerGB2018"}}}'
    headers:
      Content-Type:
      - application/json
<<<<<<< HEAD
      - AZURECLI/2.60.0 azsdk-python-core/1.30.1 Python/3.10.12 (Linux-5.15.146.1-microsoft-standard-WSL2-x86_64-with-glibc2.35)
=======
      - AZURECLI/2.60.0 azsdk-python-core/1.28.0 Python/3.9.13 (Windows-10-10.0.22631-SP0)
>>>>>>> d647502aaafa4c80c75b7467af53aebdd3553280
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.OperationalInsights/workspaces/containerapp-env000003?api-version=2023-09-01
  response:
    body:
<<<<<<< HEAD
      string: '{"properties":{"customerId":"d1f8027f-1a2c-4afe-828a-0f20b6dab964","provisioningState":"Creating","sku":{"name":"PerGB2018","lastSkuUpdate":"2024-04-30T22:12:14.593373Z"},"retentionInDays":30,"features":{"legacy":0,"searchVersion":1,"enableLogAccessUsingOnlyResourcePermissions":true},"workspaceCapping":{"dailyQuotaGb":-1.0,"quotaNextResetTime":"2024-05-01T16:00:00Z","dataIngestionStatus":"RespectQuota"},"publicNetworkAccessForIngestion":"Enabled","publicNetworkAccessForQuery":"Enabled","createdDate":"2024-04-30T22:12:14.593373Z","modifiedDate":"2024-04-30T22:12:14.593373Z"},"location":"eastus","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.OperationalInsights/workspaces/containerapp-env000003","name":"containerapp-env000003","type":"Microsoft.OperationalInsights/workspaces","etag":"\"7c005d9e-0000-0100-0000-66316cbe0000\""}'
=======
      string: '{"properties":{"customerId":"f45eaebe-d88a-4c98-b066-0a49adc0206e","provisioningState":"Creating","sku":{"name":"PerGB2018","lastSkuUpdate":"2024-05-06T11:03:28.7734583Z"},"retentionInDays":30,"features":{"legacy":0,"searchVersion":1,"enableLogAccessUsingOnlyResourcePermissions":true},"workspaceCapping":{"dailyQuotaGb":-1.0,"quotaNextResetTime":"2024-05-06T14:00:00Z","dataIngestionStatus":"RespectQuota"},"publicNetworkAccessForIngestion":"Enabled","publicNetworkAccessForQuery":"Enabled","createdDate":"2024-05-06T11:03:28.7734583Z","modifiedDate":"2024-05-06T11:03:28.7734583Z"},"location":"eastus","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.OperationalInsights/workspaces/containerapp-env000003","name":"containerapp-env000003","type":"Microsoft.OperationalInsights/workspaces","etag":"\"2601913c-0000-0100-0000-6638b9000000\""}'
>>>>>>> d647502aaafa4c80c75b7467af53aebdd3553280
    headers:
      api-supported-versions:
      - 2015-03-20, 2020-08-01, 2020-10-01, 2021-06-01, 2022-10-01, 2023-09-01
<<<<<<< HEAD
      - '898'
      content-type:
      - application/json; charset=utf-8
      date:
      - Tue, 30 Apr 2024 22:12:14 GMT
=======
      - '901'
      content-type:
      - application/json; charset=utf-8
      date:
      - Mon, 06 May 2024 11:03:28 GMT
>>>>>>> d647502aaafa4c80c75b7467af53aebdd3553280
      expires:
      - '-1'
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.OperationalInsights/workspaces/containerapp-env000003?api-version=2023-09-01
      pragma:
      - no-cache
      request-context:
      - appId=cid-v1:e6336c63-aab2-45f0-996a-e5dbab2a1508
      strict-transport-security:
      - max-age=31536000; includeSubDomains
      x-cache:
      - CONFIG_NOCACHE
      x-content-type-options:
      - nosniff
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
      x-msedge-ref:
<<<<<<< HEAD
      - 'Ref A: 2A8B4299E5034320BC20A2A52C7A07DA Ref B: CO6AA3150219049 Ref C: 2024-04-30T22:12:13Z'
=======
      - 'Ref A: 046E2C2DE2B74733A8EF9D3C355A0C64 Ref B: MAA201060516009 Ref C: 2024-05-06T11:03:27Z'
>>>>>>> d647502aaafa4c80c75b7467af53aebdd3553280
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
<<<<<<< HEAD
      - AZURECLI/2.60.0 azsdk-python-core/1.30.1 Python/3.10.12 (Linux-5.15.146.1-microsoft-standard-WSL2-x86_64-with-glibc2.35)
=======
      - AZURECLI/2.60.0 azsdk-python-core/1.28.0 Python/3.9.13 (Windows-10-10.0.22631-SP0)
>>>>>>> d647502aaafa4c80c75b7467af53aebdd3553280
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.OperationalIns[...]
- request:
    body: null
    headers:
<<<<<<< HEAD
      - AZURECLI/2.60.0 azsdk-python-core/1.30.1 Python/3.10.12 (Linux-5.15.146.1-microsoft-standard-WSL2-x86_64-with-glibc2.35)
=======
      - AZURECLI/2.60.0 azsdk-python-core/1.28.0 Python/3.9.13 (Windows-10-10.0.22631-SP0)
>>>>>>> d647502aaafa4c80c75b7467af53aebdd3553280
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.OperationalInsights/workspaces/containerapp-env000003/sharedKeys?api-version=2020-08-01
  response:
    body:
<<<<<<< HEAD
      string: '{"primarySharedKey":"abc123","secondarySharedKey":"abc123"}'
=======
      string: '{"primarySharedKey":"pX4Mtgoawdt5CMaPsjG1t3EFwrWm9Z9f7X7DMJlL6bWMMmYUWDrg684UqtJOqFw19hHsvtDTPR/gnm9UxzeH7w==","secondarySharedKey":"DrHYlHe4yxxNsNa9UCTwN2YhqMpGtQLGCe+0aO/NM1USD+P3jWvT8BsIvGlFqW15HZ4ldHHZU9BGLSZocaj3ag=="}'
>>>>>>> d647502aaafa4c80c75b7467af53aebdd3553280
    headers:
      api-supported-versions:
      - 2015-03-20, 2020-08-01, 2020-10-01, 2021-06-01, 2022-10-01, 2023-09-01
      content-type:
      - application/json; charset=utf-8
<<<<<<< HEAD
      - Tue, 30 Apr 2024 22:12:15 GMT
=======
      - Mon, 06 May 2024 11:03:31 GMT
>>>>>>> d647502aaafa4c80c75b7467af53aebdd3553280
      expires:
      - '-1'
      pragma:
      - no-cache
      request-context:
      - appId=cid-v1:e6336c63-aab2-45f0-996a-e5dbab2a1508
      strict-transport-security:
      - max-age=31536000; includeSubDomains
      x-cache:
      - CONFIG_NOCACHE
      x-content-type-options:
      - nosniff
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
      x-msedge-ref:
<<<<<<< HEAD
      - 'Ref A: AF08F7E2CE1143668994095370399192 Ref B: CO6AA3150220037 Ref C: 2024-04-30T22:12:15Z'
=======
      - 'Ref A: CB31A4351F404D96A1AAB78CF1B3D3EB Ref B: MAA201060516011 Ref C: 2024-05-06T11:03:31Z'
>>>>>>> d647502aaafa4c80c75b7467af53aebdd3553280
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
<<<<<<< HEAD
      - -g -n --logs-workspace-id --logs-workspace-key
      User-Agent:
      - AZURECLI/2.60.0 azsdk-python-core/1.30.1 Python/3.10.12 (Linux-5.15.146.1-microsoft-standard-WSL2-x86_64-with-glibc2.35)
=======
      - -g -n --logs-workspace-id --logs-workspace-key -l
      User-Agent:
      - AZURECLI/2.60.0 azsdk-python-core/1.28.0 Python/3.9.13 (Windows-10-10.0.22631-SP0)
>>>>>>> d647502aaafa4c80c75b7467af53aebdd3553280
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App","namespace":"Microsoft.App","authorizations":[{"applicationId":"7e3bc4fd-85a3-4192-b177-5b8bfc87f42c","roleDefinitionId":"39a74f72-b40f-4bdc-b639-562fe2260bf0"},{"applicationId":"3734c1a4-2bed-4998-a37a-ff1a9e7bf019","roleDefinitionId":"5c779a4f-5cb2-4547-8c41-478d9be8ba90"},{"applicationId":"55ebbb62-3b9c-49fd-9b87-9595226dd4ac","roleDefinitionId":"e49ca620-7992-4561-a7df-4ed67dad77b5","managedByRoleDefinitionId":"9e3af657-a8ff-583c-a75c-2fe7c4bcb635"},{"applicationId":"1459b1f6-7a5b-4300-93a2-44b4a651759f","roleDefinitionId":"3c5f1b29-9e3d-4a22-b5d6-9ff4e5a37974"}],"resourceTypes":[{"resourceType":"managedEnvironments","locations":["North
<<<<<<< HEAD
        Central US (Stage)","Central US EUAP","East US 2 EUAP","West US 2","Southeast
        Asia","Sweden Central","Canada Central","West Europe","North Europe","East
        US","East US 2","East Asia","Australia East","Germany West Central","Japan
        East","UK South","West US","Central US","North Central US","South Central
        US","Korea Central","Brazil South","West US 3","France Central","South Africa
        North","Norway East","Switzerland North","UAE North","Canada East","West Central
        US","UK West","Central India","Switzerland West","Italy North","Poland Central"],"apiVersions":["2024-03-01","2024-02-02-preview","2023-11-02-preview","2023-08-01-preview","2023-05-02-preview","2023-05-01","2023-04-01-preview","2022-11-01-preview","2022-10-01","2022-06-01-preview","2022-03-01"],"defaultApiVersion":"2023-05-01","capabilities":"CrossResourceGroupResourceMove,
=======
        Central US (Stage)","Central US EUAP","East US 2 EUAP","Switzerland West","West
        US 2","Southeast Asia","Sweden Central","Canada Central","West Europe","North
        Europe","East US","East US 2","East Asia","Australia East","Germany West Central","Japan
        East","UK South","West US","Central US","North Central US","South Central
        US","Korea Central","Brazil South","West US 3","France Central","South Africa
        North","Norw[...]
[...]
- request:
    body: null
    headers:
<<<<<<< HEAD
      - -g -n --logs-workspace-id --logs-workspace-key
      User-Agent:
      - python/3.10.12 (Linux-5.15.146.1-microsoft-standard-WSL2-x86_64-with-glibc2.35)
        AZURECLI/2.60.0
=======
      - -g -n --logs-workspace-id --logs-workspace-key -l
      User-Agent:
      - python/3.9.13 (Windows-10-10.0.22631-SP0) AZURECLI/2.60.0
>>>>>>> d647502aaafa4c80c75b7467af53aebdd3553280
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/managedEnvironments/aca-sp-env000002?api-version=2024-02-02-preview
  response:
    body:
      string: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.App/managedEnvironments/aca-sp-env000002''
        under resource group ''clitest.rg000001'' was not found. For more details
        please go to https://aka.ms/ARMResourceNotFoundFix"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
<<<<<<< HEAD
      - Tue, 30 Apr 2024 22:12:17 GMT
=======
      - Mon, 06 May 2024 11:03:35 GMT
>>>>>>> d647502aaafa4c80c75b7467af53aebdd3553280
      expires:
      - '-1'
      pragma:
      - no-cache
      strict-transport-security:
      - max-age=31536000; includeSubDomains
      x-cache:
      - CONFIG_NOCACHE
      x-content-type-options:
      - nosniff
      x-ms-failure-cause:
      - gateway
      x-msedge-ref:
<<<<<<< HEAD
      - 'Ref A: 9ACC2B7EBFB24F85B8DF5C6CE17C94C0 Ref B: CO6AA3150220021 Ref C: 2024-04-30T22:12:16Z'
=======
      - 'Ref A: 2F45CA5E08A64CAFA67FD5C9524EAB26 Ref B: MAA201060515033 Ref C: 2024-05-06T11:03:36Z'
>>>>>>> d647502aaafa4c80c75b7467af53aebdd3553280
    status:
      code: 404
      message: Not Found
- request:
    body: '{"location": "northcentralusstage", "tags": null, "properties": {"daprAIInstrumentationKey":
      null, "vnetConfiguration": null, "appLogsConfiguration": {"destination": "log-analytics",
<<<<<<< HEAD
      "logAnalyticsConfiguration": {"customerId": "d1f8027f-1a2c-4afe-828a-0f20b6dab964",
      "sharedKey": "abc123",
=======
      "logAnalyticsConfiguration": {"customerId": "f45eaebe-d88a-4c98-b066-0a49adc0206e",
      "sharedKey": "pX4Mtgoawdt5CMaPsjG1t3EFwrWm9Z9f7X7DMJlL6bWMMmYUWDrg684UqtJOqFw19hHsvtDTPR/gnm9UxzeH7w==",
>>>>>>> d647502aaafa4c80c75b7467af53aebdd3553280
      "dynamicJsonColumns": false}}, "customDomainConfiguration": null, "workloadProfiles":
      [{"workloadProfileType": "Consumption", "Name": "Consumption"}], "zoneRedundant":
      false}, "identity": {"type": "None", "userAssignedIdentities": null}}'
    headers:
      Content-Type:
      - application/json
<<<<<<< HEAD
      - -g -n --logs-workspace-id --logs-workspace-key
      User-Agent:
      - python/3.10.12 (Linux-5.15.146.1-microsoft-standard-WSL2-x86_64-with-glibc2.35)
        AZURECLI/2.60.0
=======
      - -g -n --logs-workspace-id --logs-workspace-key -l
      User-Agent:
      - python/3.9.13 (Windows-10-10.0.22631-SP0) AZURECLI/2.60.0
>>>>>>> d647502aaafa4c80c75b7467af53aebdd3553280
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/managedEnvironments/aca-sp-env000002?api-version=2024-02-02-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/managedEnvironments/aca-sp-env000002","name":"aca-sp-env000002","type":"Microsoft.App/managedEnvironments","location":"North
<<<<<<< HEAD
        Central US (Stage)","systemData":{"createdBy":"stacyzeng@microsoft.com","createdByType":"User","createdAt":"2024-04-30T22:12:17.493306","lastModifiedBy":"stacyzeng@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2024-04-30T22:12:17.493306"},"properties":{"provisioningState":"Waiting","daprAIInstrumentationKey":null,"daprAIConnectionString":null,"vnetConfiguration":null,"defaultDomain":"niceflower-7d4d6f0f.northcentralusstage.azurecontainerapps.io","staticIp":"52.230.139.185","appLogsConfiguration":{"destination":"log-analytics","logAnalyticsConfiguration":{"customerId":"d1f8027f-1a2c-4afe-828a-0f20b6dab964","sharedKey":null,"dynamicJsonColumns":false}},"openTelemetryConfiguration":null,"zoneRedundant":false,"kedaConfiguration":{"version":"2.12.1"},"daprConfiguration":{"version":"1.12.5"},"eventStreamEndpoint":"https://northcentralusstage.azurecontainerapps.dev/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/managedEnvironments/aca-sp-env000002/eventstream","customDomainConfiguration":{"customDomainVerificationId":"5E10F86F6DBB6E4BCE337CA15E8CC999F074D47FD74594B60EF6C76D80ABB56C","dnsSuffix":null,"certificateKeyVaultProperties":null,"certificateValue":null,"certificatePassword":null,"thumbprint":null,"subjectName":null,"expirationDate":null},"workloadProfiles":[{"workloadProfileType":"Consumption","name":"Consumption"}],"appInsightsConfiguration":null,"infrastructureResourceGroup":null,"peerAuthentication":{"mtls":{"enabled":false}},"peerTrafficConfiguration":{"encryption":{"enabled":false}}}}'
=======
        Central US (Stage)","systemData":{"createdBy":"yalixiang@microsoft.com","createdByType":"User","createdAt":"2024-05-06T11:03:38.2322995","lastModifiedBy":"yalixiang@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2024-05-06T11:03:38.2322995"},"properties":{"provisioningState":"Waiting","daprAIInstrumentationKey":null,"daprAIConnectionString":null,"vnetConfiguration":null,"defaultDomain":"graygrass-9c7d2a92.northcentralusstage.azurecontainerapps.[...]
- request:
    body: null
    headers:
<<<<<<< HEAD
      - -g -n --logs-workspace-id --logs-workspace-key
      User-Agent:
      - python/3.10.12 (Linux-5.15.146.1-microsoft-standard-WSL2-x86_64-with-glibc2.35)
        AZURECLI/2.60.0
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App/locations/northcentralusstage/managedEnvironmentOperationStatuses/ceda6c5f-99cc-4c02-9bd2-2e72ab8432e6?api-version=2024-02-02-preview&[...]
[...]
- request:
    body: null
    headers:
<<<<<<< HEAD
      - python/3.10.12 (Linux-5.15.146.1-microsoft-standard-WSL2-x86_64-with-glibc2.35)
        AZURECLI/2.60.0
=======
      - python/3.9.13 (Windows-10-10.0.22631-SP0) AZURECLI/2.60.0
>>>>>>> d647502aaafa4c80c75b7467af53aebdd3553280
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/sessionPools?api-version=2024-02-02-preview
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
<<<<<<< HEAD
      - Tue, 30 Apr 2024 22:13:41 GMT
=======
      - Mon, 06 May 2024 11:05:12 GMT
>>>>>>> d647502aaafa4c80c75b7467af53aebdd3553280
      expires:
      - '-1'
      pragma:
      - no-cache
      strict-transport-security:
      - max-age=31536000; includeSubDomains
      x-cache:
      - CONFIG_NOCACHE
      x-content-type-options:
      - nosniff
      x-msedge-ref:
<<<<<<< HEAD
      - 'Ref A: FDA6C527C17B44ECA93AF10FF8FB8907 Ref B: CO6AA3150217035 Ref C: 2024-04-30T22:13:41Z'
=======
      - 'Ref A: 60FA8CE5342443B8831871EAD0F490F3 Ref B: MAA201060513031 Ref C: 2024-05-06T11:05:12Z'
>>>>>>> d647502aaafa4c80c75b7467af53aebdd3553280
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"location": "northcentralusstage", "properties": {"environmentId": null,
      "poolManagementType": "Dynamic", "containerType": "PythonLTS", "customContainerTemplate":
      null, "secrets": null, "dynamicPoolConfiguration": {"executionType": "Timed",
      "cooldownPeriodInSeconds": "300"}, "scaleConfiguration": {"maxConcurrentSessions":
      10, "readySessionInstances": 10}, "sessionNetworkConfiguration": {"status":
      "egressDisabled"}}}'
    headers:
      Content-Type:
      - application/json
<<<<<<< HEAD
      - python/3.10.12 (Linux-5.15.146.1-microsoft-standard-WSL2-x86_64-with-glibc2.35)
        AZURECLI/2.60.0
=======
      - python/3.9.13 (Windows-10-10.0.22631-SP0) AZURECLI/2.60.0
>>>>>>> d647502aaafa4c80c75b7467af53aebdd3553280
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/sessionPools/spjupyterpython000004?api-version=2024-02-02-preview
  response:
    body:
<<<<<<< HEAD
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/sessionPools/spjupyterpython000004","name":"spjupyterpython000004","type":"Microsoft.App/sessionpools","systemData":{"createdBy":"stacyzeng@microsoft.com","createdByType":"User","createdAt":"2024-04-30T22:13:42.5811868Z","lastModifiedBy":"stacyzeng@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2024-04-30T22:13:42.5811868Z"},"properties":{"environmentId":null,"poolManagementType":"Dynamic","containerType":"PythonLTS","maxConcurrentSessions":0,"scaleConfiguration":{"readySessionInstances":10,"maxConcurrentSessions":10},"dynamicPoolConfiguration":{"executionType":"Timed","cooldownPeriodInSeconds":300},"sessionNetworkConfiguration":{"enableEgress":false},"provisioningState":"Succeeded","poolManagementEndpoint":"https://northcentralusstage.dynamicsessions.io/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/sessionPools/spjupyterpython000004"}}'
=======
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/sessionPools/spjupyterpython000004","name":"spjupyterpython000004","type":"Microsoft.App/sessionpools","location":"North
        Central US (Stage)","systemData":{"createdBy":"yalixiang@micros[...]
[...]
- request:
    body: null
    headers:
<<<<<<< HEAD
      - -g -n --container-type --environment --secrets --ready-session-instances --image
        --cpu --memory --target-port
      User-Agent:
      - python/3.10.12 (Linux-5.15.146.1-microsoft-standard-WSL2-x86_64-with-glibc2.35)
        AZURECLI/2.60.0
=======
      - -g -n --container-type --environment --secrets --ready-sessions --image --cpu
        --memory --target-port
      User-Agent:
      - python/3.9.13 (Windows-10-10.0.22631-SP0)[...]
- request:
    body: '{"location": "northcentralusstage", "properties": {"environmentId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/managedEnvironments/aca-sp-env000002",
      "poolManagementType": "Dynamic", "containerType": "CustomContainer", "customContainerTemplate":
      {"containers": [{"image": "mcr.microsoft.com/k8se/quickstart:latest", "name":
      "spcustomcontainer000005", "command": null, "args": null, "env": null, "resources":
      {"cpu": 0.5, "memory": "1Gi"}, "volumeMounts": null}], "ingress": {"targetPort":
      80}, "registryCredentials": null}, "secrets": [{"name": "testsecret", "value":
      "testsecretvalue", "keyVaultUrl": "", "identity": ""}], "dynamicPoolConfiguration":
      {"executionType": "Timed", "cooldownPeriodInSeconds": 300}, "scaleConfiguration":
      {"maxConcurrentSessions": 10, "readySessionInstances": 2}, "sessionNetworkConfiguration":
      {"status": "egressDisabled"}}}'
    headers:
      Content-Type:
      - application/json
<<<<<<< HEAD
      - -g -n --container-type --environment --secrets --ready-session-instances --image
        --cpu --memory --target-port
      User-Agent:
      - pyth[...]
- request:
    body: null
    headers:
<<<<<<< HEAD
      - -g -n --container-type --environment --secrets --ready-session-instances --image
        --cpu --memory --target-port
      User-Agent:
      - python/3.10.12 (Linux-5.15.146.1-microsoft-standard-WSL2-x86_64-with-glibc2.35)
        AZURECLI/2.60.0
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App/locations/northcentralusstage/operationStatuses/c2Vzc2lvblBvb2x[...]
[...]
